.menu-component {
  width: 230px;
  min-width: 230px;
  height: calc(100vh - 50px);
  border-right: 1px solid #e7e7e7;
  box-sizing: border-box;
  overflow-y: auto;
  .disable-shape-path {
    stroke: #cacaca !important;
  }
  .disable-status {
    background-color: #f4f4f4;
    cursor: not-allowed;
    color: #cacaca;
    &:hover {
      background-color: #f4f4f4 !important;
      cursor: not-allowed !important;
      color: #cacaca !important;
    }
  }
  .menu-container {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .menu-item {
      padding: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      cursor: pointer;
      transition: 0.1s all linear;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
      user-select: none;
      &:hover {
        background-color: @color;
        color: #fff;
      }
      .icon {
        margin-top: 5px;
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }
  .active-menu-item {
    background-color: @color;
    color: #fff;
  }
  .menu-shape-container {
    .menu-shape-title {
      padding: 10px;
      font-size: 13px;
      font-weight: bold;
      color: @color;
    }
    :global(.ant-collapse-content-box) {
      padding: 0 !important;
    }
    :global(.ant-collapse-header) {
      border-bottom: 1px solid #e9e9e9;
      box-sizing: border-box;
    }
    .menu-shape-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

      .shape-item {
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s all linear;
        box-shadow: 0 0 2px 0 rgb(228 228 228);
        .shape-path {
          transition: 0.2s all linear;
        }
        &:hover {
          background-color: @color;
          .shape-path {
            stroke: #fff;
          }
        }
      }
    }
  }
}
