@font-face {
  font-family: "iconfont"; /* Project id 4581064 */
  src: url("//at.alicdn.com/t/c/font_4581064_ibakchnwx.woff2?t=1718803293162")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4581064_ibakchnwx.woff?t=1718803293162")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4581064_ibakchnwx.ttf?t=1718803293162")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_pic:before {
  content: "\e695";
}

.i_text:before {
  content: "\e61c";
}

.i_clear:before {
  content: "\e680";
}

.i_init:before {
  content: "\e60e";
}

.i_scale_down:before {
  content: "\ec13";
}

.i_scale_up:before {
  content: "\ec14";
}

.i_align-left:before {
  content: "\e72d";
}

.i_align-bottom:before {
  content: "\e72e";
}

.i_align-center:before {
  content: "\e72f";
}

.i_align-right:before {
  content: "\e730";
}

.i_align-justify:before {
  content: "\e731";
}

.i_align-vertically:before {
  content: "\e732";
}

.i_align-top:before {
  content: "\e733";
}

.i_other:before {
  content: "\e60b";
}

.i_triangle:before {
  content: "\e6af";
}

.i_circle:before {
  content: "\eb99";
}

.i_top:before {
  content: "\e648";
}

.i_down:before {
  content: "\e64a";
}

.i_to_top:before {
  content: "\e68d";
}

.i_to_down:before {
  content: "\e626";
}

.i_rect:before {
  content: "\e620";
}
