.panel-component {
  width: 260px;
  min-width: 260px;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .panel-container {
    padding: 15px;
    .group-button {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      margin-top: 15px;
      .group-button-item {
        flex: 1;
        padding: 10px 0;
        height: auto !important;
      }
    }
  }
}
